

    .main-header{
        grid-template-rows: 60px 60px;

        .big{
            grid-row: 2;
            grid-column: 2;
            // border-bottom: 1px var(--verylightgray) solid;
        }
    }
header {
    position: fixed;
    width: 100%;
    background-color: var(--headerbackgroundColor);
    height: 80px;
    z-index: 100;


    li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.main-nav {

    grid-row: 1;
    height: 70px;
    position: relative;
    display: flex;
    justify-content: space-between;

    .explore-filterr {
        justify-content: space-around;
        align-items: center;
        justify-content: center;
    }

    .big{
        grid-row: 2;
        position: absolute;
        // margin-top: 30px;
    }
}

:last-child {
    margin-right: 0;
}

.logo {
    font-family: Airbnb-font-normal;
    color: $clrRED;
    font-size: 35px;
    display: flex;
    height: 90%;

    a {
        text-decoration: none;
        li {
            font-weight: bold;
            margin: 0;
        }
    }

    img {
        height: 75%;
    }
}

nav {
    position: relative;
    display: flex;

    div {
        display: flex;
    }

    li {
        list-style-type: none;
        margin: 10px;

        a {
            text-decoration: none;
            color: var(--headerFontColor);
        }
    }
}

.user-menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 30px;
    outline: 1px solid rgba($color: $clrGRAY, $alpha: 0.6);
    padding:0;
    span {
        font-size: 2em;
        font-weight: 800;
        margin-right: 6px;
        margin-left:12px;
        margin-bottom: 5px;
        
    }
    img {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        margin-right: 10px;
        margin-top: 3px;
    } 
}
.user-menu:hover{
    transition: 0.12s;
    box-shadow: 0px 3px 5px -3px rgba($color: $clrBLACK, $alpha: 0.6);
}



