:root{
    --headerFontColor: #fff;
    
}

header{
    position: fixed;
    width: 100%;
    // background-color: $bgc;
}


.main-nav {
    position: relative;
    display: flex;
    justify-content: space-between;
}




nav {
    position: relative;
    display: flex;

    div {
        display: flex;
    }

    li {
        list-style-type: none;
        margin: 10px;

        a {
            
            text-decoration: none;
            color: var(--headerFontColor)

        }
    }

}