

header {
    position: fixed;
    width: 100%;
    background-color: var(--headerbackgroundColor);
    height: 80px;
    z-index: 100;
    border-bottom: 1px var(--verylightgray) solid;

    li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        
    }
}


.main-nav {
    height: 70px;
    position: relative;
    display: flex;
    justify-content: space-between;

}

.logo {
    font-family: Airbnb-font-normal;
    color: $clrRED;
    font-size: 35px;
    display: flex;
    height: 90%;
    
    
    a {
        text-decoration: none;
        li{
            font-weight: bold;

        }

    }

    img {
        height: 100%;

    }
}


nav {
    position: relative;
    display: flex;

    div {
        display: flex;
    }

    li {
        list-style-type: none;
        margin: 10px;

        a {

            text-decoration: none;
            color: var(--headerFontColor)
        }
    }

}