.reserve-stay-container{
    border: 1px solid $clrGRAY;
    border-radius: 10px;
    display:flex;
    flex-direction: column; 
    // justify-content: space-between;
    align-items: center;
    flex: 20%;
    height: 100%;
    padding: 1rem;

    .reserve-stay-header{
      width: 100%;
      padding: 1rem;
      display: flex;
      justify-content: space-between;
    }
}



.DateRangePickerInput_arrow {
    
  }
  
  .DateInput_input {
    cursor: pointer;
  }