.review-line-card {
    .header {
        display: flex;
        justify-content: flex-start;
        gap: 10px;

        img {
            border-radius: 50%;
            border: 1px lightgray solid  ;
            height: 60px;
            object-fit: cover;
            @include aspect-ratio(16, 9)
            
        }
    }

    .aside {
        display: flex;
        gap: 2px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        // justify-content: space-around;
    }

}