.form-container {
    form {
        width: max-content;
        display: flex;
        flex-direction: column;
        max-width: 320px;
        margin: auto;
        padding: 1.5rem 2rem;
        border: 1px solid $clrBLACK;
        border-radius: 10px;
        background-color: white;

        .error {
            color: $clrRED;
            height: 25px;
            font-size: 0.8rem;
        }
    }
}

.modal-center{
    position:fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}