.stay-card {
    position: relative;
    border: 0px black solid;
    border-radius: 12px;
    text-align-last: auto;
    cursor: pointer;
    

    &:hover .right-arr,&:hover .left-arr{
        
        
        text-align: center;
        span{

            border-radius: 50%;
            padding: 10px;
            background-color: rgba(255, 255, 255, 0.601);
            visibility: visible;
            text-align: center;
        }
    }

    .right-arr {
        visibility: hidden;
        position: absolute;
        top: 40%;
        right: 2px;
        cursor: pointer;
        span{
            font-size: 30px;
        }
    }

    .left-arr {
        visibility: hidden;
        position: absolute;
        top: 40%;
        left: 2px;
        span{
            font-size: 30px;
        }

        &:hover{
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.601);
        }
    }

    h1 {
        font-size: 15px;
        font-weight: normal;
        overflow: clip;
        font-family: Airbnb-font-normal, sans-serif;
        color: #222;
        text-overflow: ellipsis;
    }

    
    img {
        border-radius: 12px;
        aspect-ratio: 1/1;
    }
    
    span {
        font-size: 12px;
    }
    
    .stay-preiview-details {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
    }
    li {
        list-style: none;
        white-space: nowrap;
        overflow: hidden;
    }

    .location-rate {}

    .propery-price {
        margin-top: 30px;

        li {

            display: flex;

            span {
                font-size: 15px;
            }
        }

    }

    .propery-description {
        margin-top: 5px;

        h1 {
            font-family: Airbnb-font-lite, sans-serif;
            color: $lite-font-color;
        }

    }
}

.heart{
    position: absolute;
    top: 4%;
    right: 4%;
    z-index: 10;
    opacity: 0.7;
    span{
        font-size: 30px;  
    }
}


