.card-container{
    position: relative;
    margin-top: 50px;
    display: grid;
    // display: inline-block;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    grid-column: 2;
    img{
        width: 100%;
        height: 70%;
        object-fit:cover;

    }

}

.explore-main{
    display: grid;
    grid-template-columns: 80px 1fr 80px;
    // display: inline-block;
    width:100%
}