.home-page-container{

    .main-page-head{
        background-image: url('https://kumba-app1.herokuapp.com/img/wp2.bacf91a9.jpg');
        background-size: cover;
        background-position: 50%;
        height: 80vh;
        margin-top: 0;
        width: 100%;
        z-index: -10;
        margin-bottom: -50%;
    
    }
    
    .home-filterr{
        top: 62px;
    }
}

.home-page-card{
    a{
        color: $clrBLACK;
        text-decoration: none;
    }
}

.home-page-card-container{
    h1{
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    cursor: pointer;
    margin-top: 60%;
    display: flex;
    flex-direction: column;
    .home-page-card-line{
        h1{
            font-size: 1rem;
        }
        display: flex;
        justify-content: space-between;
        gap: 0.5rem;
        img{
            aspect-ratio: 1/1;
            border-radius: 12px;
        }
    }
    
}

