.main-page-head{
    background-image: url('https://kumba-app1.herokuapp.com/img/wp2.bacf91a9.jpg');
    background-size: cover;
    background-position: 50%;
    height: 80vh;
    margin-top: 0;
    width: 100%;
    z-index: -10;
}