.center{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
}
.center-h{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}